* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
header {
    background-color: aqua;
    margin: 0;
}
nav {
    background-color: red;
    padding: 5px;
}
div {
    display: flex;
}
section {
    background-color: yellow;
    padding: 20px;
    width: 70%;
    display: inline-block;
    vertical-align: top;
    min-height: 150px;
    
}

article {
    background-color: orange;
    margin: 5px;
    padding: 10px;
    width: 100%;
}
aside {
    background-color: beige;
    display: inline-block;
    border-left: 0;
    width: 30%;
}

footer {
    height: 80px;
    background-color: lightblue;
}